body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #000; 
    color: #fff; 
    
}

#app {
    width: 100%;
    height: 100%;
}

/* Contenedor del título */
#titlePanel {
    position: relative; 
    text-align: center; 
    margin: 20px auto; /* Espacio superior e inferior */
    
}

/* Estilo del título */
.mainTitle {
    font-family: 'Outfit', sans-serif; /* Aplica la fuente */
    font-size: 46px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra negra */
    margin: 0; 
    
}

#menuPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("../img/FondoInicio.png"); 
    background-size: cover;
    background-position: center; 
    color: white;
    text-align: center;
    
}

#instructions {
    position: fixed;
    text-align: center;
    padding: 20px;
    border: 2px solid #fff; 
    border-radius: 15px; 
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

/* Botón de juego */
.playButton {
    display: inline-block; 
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background-color: transparent; 
    border: 2px solid #fff; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.playButton:hover {
    background-color: #fff; 
    color: #000; 
    transform: scale(1.1); 
}

/* Panel de opciones */
#optionsPanel {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    width: 100%; 
    height: 100%; 
    background-image: url("../img/FondoInicio.png"); 
    background-size: cover; 
    background-position: center; 
    position: absolute;
    z-index: 5;
}


.optionBtn {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

#opt1 {
    background-color: red; 
}

#opt2 {
    background-color: black; 
}

#opt3 {
    background-color: green; 
}


.optionBtn:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}



#container {
    position: relative;
}

#container > div {
    position: absolute;
}